<!DOCTYPE html>
<html lang="fr">
    <head>
        <title><%= title %></title>
        <%- include ("partials/header") %>
      </head>
<body>
    <main>
        <div class="contenu-principal">
            <h1>Bravo !</h1>
            <p>
                Vos réponses sont enregistré dans le fichier "log.json". 
                Veuillez l'envoyé à votre enseignant par courriel ! 
            </p>
            <p>
                Voici vos réponses ci-dessous. Téléchargez-les pour les envoyer à votre enseignant(e).
            </p>
            <a download><%= file %></a>
            <br>
                <a href="/">
                    <button>Retournez à l'accueil</button>
                </a>
        </div>
    </main>
    <%- include ("partials/scripts") %>
</body>