<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ("partials/header") %>
  </head>
  <body>
    <main>
    <%- include ("partials/nav") %>
    <div class="contenu-principal">
      <img src="/images/logo-explore.png" alt="logo-explore" id="logo">
      <h1>Programme Explore</h1>
      <h2>Bienvenue à l'UQAM !</h2>
      <p>
        Cette application va vous servir à faire vos quiz d'activités comme le Rallye UQAM, 
        le marché Jean-Tallon ainsi que l'art publique. Aussi, vous pouvez y trouver un plan 
        du campus pour vous aider à vous situez dans les envirents de l'université. J'espère 
        que vous enjoy your stay !
      </p>
    </div>
    </main>
    <%- include ("partials/scripts") %>
  </body>
</html>
